<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.learnsanskrit">
    <!-- Permissions of internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnSanskrit">
        <activity android:name=".ui.main.History"></activity>
        <activity android:name=".Test" />
        <activity android:name=".pronouns" />
        <activity android:name=".account_user" />
        <activity android:name=".paragraphs" />
        <activity android:name=".family_relation" />
        <activity android:name=".colors" />
        <activity android:name=".ForegetPassword" />
        <activity android:name=".Signup" />
        <activity android:name=".SignIn" />
        <activity android:name=".phrases" />
        <activity android:name=".verbs" />
        <activity android:name=".conjunction" />
        <activity android:name=".nouns" />
        <activity android:name=".Consonants_1" />
        <activity android:name=".Vowels_1" />
        <activity android:name=".vegetables" />
        <activity android:name=".fruits" />
        <activity android:name=".animals" />
        <activity android:name=".birds" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>